.formBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid #E1E1E2; */
}

.teacherRegistrationName {
    font-weight: bold !important;
}

@media (max-width: 768px) {
    .teacherRegistrationName {
        font-size: 25px !important;
    }
}