.formBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid #E1E1E2; */
}

.controls {
    display: flex;
    justify-content: start;
    margin-top: 6px;
    align-items: center;
}

/* Adjust logo size for smaller screens */

@media (max-width: 768px) {
    .controls {
        margin-top: 15px;
    }

    .addSubName {
        font-size: 25px !important;
    }
}